* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Inter Tight', sans-serif;
    color: #EEE;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
h2 {
    font-size: 18px;
    color: #333;
    text-align: center;
}
main {
    margin: 1rem 0;
}
#contenedor-calculadora  {
    width: 360px;
    margin: 0 auto;
    background-color: #15172b;
    border-radius: 20px;
    padding: 1rem;
}
#contenedor-calculadora .calculadora {
    display: flex;
    flex-flow: column nowrap;
    gap: .6rem;
}
.calculadora input[type="text"], 
.calculadora input[type="number"] {
    background-color: #303245;
    color: #EEE;
    padding: .6rem;
    border-radius: 20px;
}
.calculadora button {
    background-color: #08d;
    color: #EEE;   
    padding: .6rem;
    border-radius: 12px;
    border: 0;
}
.calculadora .valores {
    display: flex;
    justify-content: space-between;
}
footer {
    text-align: center;
    background-color: #EEE;
    color: #333;
    padding: 1rem 0;
}
/*===============
TABLET HORIZONTAL
=================*/
@media (max-width:1199px) and (min-width:992px){
    #contenedor-calculadora {
        width: 40%;
    }
}
/*=============
TABLET VERTICAL 
===============*/
@media (max-width:991px) and (min-width:768px){
    #contenedor-calculadora {
        width: 50%;
    }   
}
/*===
MOVIL
=====*/
@media (max-width:767px){
    #contenedor-calculadora {
        width: 90%;
    }
}